" コメントアウト"

inoremap <silent> jj <ESC>
" 英数


" かな
let mapleader = " "
" <Leader> key setting

" 折り返し時に表示行単位での移動できるようにする
" move command
nnoremap j gj
vnoremap j gj
nnoremap k gk
vnoremap k gk

noremap <S-j> }
nnoremap <S-k> {
noremap L $
noremap H ^
noremap ; :
noremap gl :actionlist<CR>

noremap gf :action SearchEverywhere<CR>
noremap gd :action GotoDeclaration<CR>
noremap gh :action QuickJavaDoc<CR>

vnoremap <silent> cc :action CommentByLineComment<CR><Esc>
nnoremap <silent> cc :action CommentByLineComment<CR><Esc>


noremap fc :action ReformatCode<CR>


" https://ikenox.info/blog/ideavim-introduction/ 参考にした
" actionlist 一覧を表示
" actionlist xxx でxxxのaction_keyを表示する



nnoremap <silent> <CR><CR> o<Esc>
nnoremap <CR>h :nohlsearch<CR><ESC>
nnoremap <Esc><Esc> :nohlsearch<CR><ESC>


" #######OPTIONを追加######
" ########################

set virtualedit=onemore " 行末1つ先へ
set clipboard+=unnamed  " クリップボードへコピー

"===== 検索設定 =========
set ignorecase "大文字、小文字の区別をしない
set smartcase "大文字が含まれている場合は区別する
set wrapscan "検索時に最後まで行ったら最初に戻る
set hlsearch "検索した文字を強調
set incsearch "インクリメンタルサーチを有効にする
set nobackup "バックアップファイルを作らない
set noswapfile "スワップファイルを作らない

"=====カーソル移動=======
noremap <C-j> <Down>
noremap <C-k> <Up>
inoremap <C-h> <Left>
inoremap <C-l> <Right>


inoremap vv :action CodeCompletion<CR>
nnoremap vv :action CodeCompletion<CR>
nnoremap g; :<C-u>action JumpToLastChange<CR>
noremap <leader-r> :action IdeaVim.ReloadVimRc.reload<CR>
inoremap <C-c> <Esc>
nnoremap <C-c> <Esc>



" status line highlight
set showmode
"履歴件数
set history=10000


nnoremap <C-l> :<C-u>action NextTab<CR>
nnoremap <C-h> :<C-u>action PreviousTab<CR>
function! s:VSetSearch(cmdtype)
   let temp = @s
   norm! gv"sy
   let @/ = '\V' . substitute(escape(@s, a:cmdtype.'\'), '\n', '\\n', 'g')
   let @s = temp
endfunction


" レジスターの変更が大事
vnoremap <silent> tt "_dd
nnoremap <silent> tt "_dd
nnoremap <silent> <leader><leader> :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <silent> T D
